@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply text-lg;
    }
}

@layer components {

    .title {
        @apply text-4xl mb-4 mt-2 text-center font-semibold;
    }

    .section {
        @apply flex flex-col items-center w-screen;
    }

    .section > * {
        @apply max-w-screen-sm
    }

    .panel {
        @apply m-4 p-4 outline outline-1 rounded outline-gray-300 shadow-lg;
    }

    .buttons {
        @apply flex flex-row items-center justify-between;
    }

    .button {
        @apply rounded py-2 px-4 shadow-md bg-slate-100 text-slate-700 active:bg-slate-700 active:text-slate-100;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 100ms;
    }

    .button.primary {
        @apply bg-light-10 active:bg-slate-700 active:text-slate-100;
    }

    .form {
        @apply flex flex-col items-center;
    }

    .form > * {
        @apply w-full mb-4;
    }

    .field {
        @apply flex flex-row items-start justify-between;
    }

    .field > * {
        @apply first:mr-2 last:ml-2;
    }

    .field input[type='text'], .field input[type='email'], .field input[type='checkbox'], .field select {
        @apply outline outline-1 rounded px-2 py-1;
    }

    .field input:invalid {
        @apply outline outline-2 outline-red-500;
    }

    .field input, .field label {
        @apply h-8;
    }

    .field .error {
        @apply text-red-500 text-sm;
    }

    /* form .button {
        @apply rounded p-2 bg-light-10 text-white;
    } */
}